*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}

header{
    background: linear-gradient(135deg, #646464 1px, #002d70 40%);
    padding: 10px 0;
}

nav img{
    width: 100px;
    height: 100px;
}

footer{
    background: linear-gradient(135deg, #081738 20%, #0042a5);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    margin-top: 4rem;
}

main h3{
    background-color: #002d70;
    opacity: 87%;
    text-align: center;
    margin-top: 2rem;
    padding: 10px;
}

li{
    margin: 1rem;
    
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 100px 100px 200px rgba(0, 0, 0, 0.1);
}

.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}
img{
    max-width: 300px;
    height: 200px;
}
.img{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    color: black;
    opacity: 90%;
    border-radius: 20px;
    width: auto;
    height: auto;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
}

.curiosidades{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #002d70;
    opacity: 87%;
    padding: 1rem;
    border-radius: 10px;
    margin: 2rem auto;
}
.curiosidades img{
    width: auto;
    height: auto;
    border-radius: 10px;
}
.animais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.area label{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.biologo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 2rem auto;
}
.biologo img{
    border-radius: 10px;
    position: absolute;
    top: 26rem;
    right: 8rem;
}
.oceanografo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 2rem auto;
}
.oceanografo img {
    border-radius: 10px;
    position: absolute;
    top: 48rem;
    right: 8rem;
}
.engenheiro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 2rem auto;
}
.engenheiro img{
    border-radius: 10px;
    position: absolute;
    top: 70rem;
    right: 8rem;
}
fieldset{
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 1rem;
}
legend{
    font-weight: bold;
    color: #f5f6f8;
    padding: 0 0.5rem;
}
input, select{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: border-color 0.9s;
}
.radio-group, .check-box{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.radio-group input, .check-box input{
    width: auto;
    margin-right: 0.5rem;
    margin-bottom: 0;
}
button{
    background: linear-gradient(135deg, #2058f3 0%, #1302ff 100%);
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.5rem;
}

.botoes{
    text-align: center;
    margin-top: 1.5rem;
}